/* :root {
    
}  */

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --black-text: #353430;
  --accent-color: #ff8dcb;
  --accent-color-buttons: #353430;
  --main-text: #ffc2e6;
  --text: #353430;
  --REC: #ffeef6;
  --back-fon: #fff1f7;
  --hover-day: #ada4a6;
  --background-header: url(../images/cover-image-light.png);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
