:root.theme-light {
  --background: #fff1f7;
  --header: #ffc2e6;
  --black-text: #353430;
  --accent-color: #ff8dcb;
  --accent-color-buttons: #353430;
  --main-text: #ffc2e6;
  --text: #353430;
  --REC: #ffeef6;
  --back-fon: #fff1f7;
  --hover-day: #ada4a6;
  --background-header: url(../images/cover-image-light.png);
}


@media (prefers-color-scheme: light) {
  :root.theme-auto {
     --background: #fff1f7;
  --header: #ffc2e6;
 
   --black-text: #353430;
  --accent-color: #ff8dcb;
  --accent-color-buttons: #353430;
  --main-text: #ffc2e6;
  --text: #353430;
  --REC: #ffeef6;
  --back-fon: #fff1f7;
  --hover-day: #ada4a6;
  --background-header: url(../images/cover-image-light.png);
  }
}