:root {
  --accent-color: #ff0070;
  --accent-color-buttons: #ff0070;
  --hover-day: #660045;
  --black-text: #000028;
  --back-fon: #000028;
  --main-text: #db00ff;
  --text: #f1b2ce;
  --REC: #ff0070;
  --margin-contents-top: 40px;
  --margin-imgs-top: 40px;
  --margin-contents-bottom: 10px;
  --background-header: url(../images/cover-image-dark.png);
  --padding-end: 10px;
}