:root{
  --accent-color: #FF0070;
  --accent-color-buttons: #FF0070;
  --hover-day: #660045;
  --black-text: #000028;
  --back-fon: #000028;
  --main-text: #DB00FF;
  --text: #F1B2CE;
  --REC: #FF0070;
  --margin-contents-top: 40px;
  --margin-imgs-top: 40px;
  --margin-contents-bottom: 10px;
  --background-header: url(../images/cover-image-dark.png);
  --padding-end: 10px;
}
